/* Root */
:root {
    --bg-color: black;
    --text-color: white;
    --primary-color: red;
    --secondary-color: yellow;
    --border-color: white;
    --field-color: blue;
}

/* General Settings */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    background-color: var(--bg-color);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    list-style: none;
    gap: 25px;
}

.navbar-item {
    border: 2px solid var(--border-color);
}

.navbar-item a {
    padding: 10px 15px;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-item a:hover {
    color: var(--secondary-color);
    transition: all .15s ease;
}

/* WebApp Title */
.webapp-title {
    display: flex;
    justify-content: center;
}

.webapp-title h1 {
    margin-top: 25vh;
    color: var(--text-color);
    font-size: 72px;
    text-transform: uppercase;
}

.webapp-title span {
    color: var(--primary-color);
    font-size: 72px;
    text-transform: uppercase;
}

.webapp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

/* AuthForms */
.auth-container {
    display: grid;
    place-items: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 50vw;
}

.auth-label {
    color: var(--text-color);
    margin-bottom: 5px;
    font-size: 18px;
}

.auth-input {
    padding: 5px;
    margin-bottom: 25px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-family: monospace;
    font-size: 18px;
    outline: none;
}

.auth-btn {
    padding: 10px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    border-radius: 3px;
    font-family: monospace;
    font-size: 18px;
    text-transform: uppercase;
}

.auth-btn:hover {
    color: black;
    background-color: white;
    transition: all .15s ease;
}

/* Upgrades */
.upgrade-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    gap: 25px;
}

.upgrade-btns {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.upgrade-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.upgrade-counter span {
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 3px;
    font-size: 18px;
    padding: 10px;
}

.upgrade-counter span:last-child {
    border: 0;
}
